header {
  position: relative;
  margin-bottom: 200px;

  #background_desktop {
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: -50px;
    background-color: $very_pale_cyan;
    z-index: -1;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      display: none;
    }
  }
  #background_mobile {
    display: none;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      width: 100%;
      height: 900px;
      display: flex;
      position: absolute;
      z-index: -1;
      background-color: $very_pale_cyan;
      margin-top: -50px;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      margin: 10px;
    }

    img {
      width: 200px;
      margin-left: 50px;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        width: 100px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }

  #presentation {
    @include flex-center-row;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      @include flex-center-column;
    }

    #presentation_text {
      @include flex-space_column;
      margin: 60px;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        margin: 20px auto;
      }

      h1 {
        line-height: 60px;
        margin: 0 50px;
        @media screen and (max-width: map-get($breakpoints, mobile)) {
          margin: 10px;
          text-align: center;
        }
      }
      p {
        line-height: 30px;
        margin-left: 50px;
        margin-right: 40px;
        @media screen and (max-width: map-get($breakpoints, mobile)) {
          width: 80%;
          margin: 10px;
          text-align: center;
        }
      }
    }

    img {
      width: 100%;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        width: 80%;
        margin: auto;
      }
    }
  }
}
