* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;

    .container {
        width: 1460px;

        @media screen and (max-width: map-get($breakpoints, mobile)) {
            width: 100%;
        }
    }
}