#ready_card {
  position: relative;
  height: 5%;

  #ready_item {
    position: absolute;
    left: 25%;
    top: -80px;
    width: 50%;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid red;
    padding: 50px;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      width: 90%;
      left: 5%;
      padding: 20px 10px;
    }

    h3 {
      font-weight: 800;
      color: $very_dark_cyan;
      text-align: center;
      margin-bottom: 50px;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        font-size: 11px;
        margin-bottom: 20px;
      }
    }
    button {
      margin-left: 30%;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        margin-left: 15%;
      }
    }
  }
}
